<script type="text/javascript" charset="UTF-8" src= "../../static/js/bootstrap-datetimepicker.js" ></script>
<script type="text/javascript" charset="UTF-8" src= "../../static/js/locales/bootstrap-datetimepicker.zh-CN.js" ></script>
<script type="text/javascript">

	$('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
		autoclose: 1,
        startDate: '2012/01/01',
        endDate: '2018/12/31',
		todayHighlight: 1,
		startView: 2,
		minView: 2,
        initialDate: '2017/12/31',
		forceParse: 0
    });

    	$('#form').submit(function () {
        $('#date').val(function () {
          return $('#dtp_input1').val().substr(0,10)
        })
    })
</script>



