<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" media="screen" href= "{{url_for('static', filename='bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" media="screen" href= "{{url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    {% block css %}{% endblock %}
</head>
<body>
    {% block content %} {% endblock %}

<script type="text/javascript" charset="UTF-8" src= "{{url_for('static', filename="jquery/jquery-1.8.3.min.js")}}"  ></script>
<script type="text/javascript" src= "{{url_for('static', filename="bootstrap/js/bootstrap.min.js")}}" ></script>
{% block script %}{% endblock %}
</body>
</html>
